* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-family: "Open Sans";
  text-decoration: none;
  color: #000;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "rouble";
  src: url(../fonts/rouble.otf) format("opentype");
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}


.tegi {
  font-weight: 700;
  font-size: calc(0.448vw + 6.556px);
  text-transform: uppercase;
  text-align: left;
}

.tegi_list {
  display: flex;
  width: auto;
  flex-wrap: wrap;
}

.tegi_list_item {
  list-style-type: none;
  margin-right: 18px;
}

.tegi_list a {
  font-family: "Open Sans";
  text-decoration: none;
  color: #b59f5b;
}

.title_h3 {
  font-family: "Open Sans";
  font-size: calc(0.673vw + 8.834px);
  text-transform: uppercase;
  margin-bottom: calc(1.457vw + 2.807px);
  text-align: center;
}

.title_h3:after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  background-color: #b59f5b
}

.title_h3_1 {
  font-family: "Open Sans";
  font-size: calc(0.673vw + 8.834px);
  text-transform: uppercase;
  }

.title_h2 {
  font-family: "Open Sans";
  font-size: calc(0.224vw + 8.278px);
  text-transform: uppercase;
  margin-bottom: calc(1.457vw + 2.807px);
  text-align: center;
}

.title_h2:after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  background-color: #b59f5b
}

.title_h2_1{
  font-family: "Open Sans";
  font-size: calc(0.224vw + 8.278px);
  text-transform: uppercase;

}

header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: url(../img/banner-bg.jpg);
  padding-bottom: 125px;
  padding-top: calc(-2.466vw + 68.942px);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  z-index: 0;
}

header::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
}

header h1 {
  font-family: "Open Sans";
  display: block;
  max-width: 687px;
  margin: 100px auto 0;
  font-size: 45px;
  line-height: calc(2.242vw + 37.780px);
  text-transform: uppercase;
}

.logo_nav {
  max-width: 1200px;
  padding-top: 0;
  padding-left: calc(-2.018vw + 50.498px);
  padding-right: calc(-2,354vw + 53.081px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: calc(2.242vw + 142.780px);
  min-width: calc(2.242vw + 142.780px);
}

.nav_burger{
  display: none;
  max-width: 23px;
  max-height: 23px;
  margin-right: 35px;
}

.nav_list {
  display: flex;
  width: auto;
  text-align: right; 
}

.nav_list_item {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 13px;
}

.nav_list a {
  font-family: "Open Sans";
  color: white;
  text-decoration: none;
}

.nav_list_item:nth-child(n + 2) {
  margin-left: 35px;
} 

.aside_trend{
  max-width: 100%;
  margin: calc(1.345vw + 35.668px) auto 0;
}

.aside_trend_containers{
  display: flex;
  margin: 0 auto;
}

.aside_trend_container{
  position: relative;
  margin: 0 auto;
}

.div_trend{
  display: flex;
  align-items: flex-end;
  position: absolute;
  z-index: 1;
}

.img_trend{
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.div_fon_trend {
  position: absolute;
  opacity: 0.6;
  background: #000;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.div_contents_trend {
  width: 100%;
  color: #fff;
}

.div_content_trend {
  border: 3px solid #b59f5b;
  position: absolute;
  top: auto;
  right: calc(0.224vw + 18.278px);
  bottom: calc(0.112vw + 14.139px);
  left: calc(0.224vw + 18.278px);
  padding-left: calc(0.336vw + 29.417px);
  padding-top: 37px;
}

.div_content_trend p {
  font-family: "Open Sans";
  font-size: calc(0.224vw + 10.278px);
  line-height: calc(0.224vw + 20.278px);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: calc(0.336vw + 27.417px);
  margin-right: calc(0.336vw + 29.417px);
}

.container {
  display: flex;
  padding-top: calc(1.121vw + 41.390px);
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.content {
/*max-width: 778px;*/
 /*ax-width: calc(43.498vw + 55.937px); */
}

.article {
  display: flex;
}

.article:nth-child(n + 2) {
  margin-top: calc(1.682vw + 32.085px);
}

.article img {
  display: block;
  width: 390px;
  height: 300px;
}

.article_content {
  margin-left: 30px;
}

.time_avtor {
  display: flex;
  margin-top: 28px; 
}

.time {
  font-family: "Open Sans";
  font-size: calc(0.336vw + 6.417px);
  font-weight: 400;
  color: #888888;
}

.avtor {
  font-family: "Open Sans";
  font-size: calc(0.336vw + 6.417px);
  font-weight: 600;
  color: #000;
  margin-left: 13px;
}

.article p {
  font-family: "Open Sans";
  font-size: calc(0.336vw + 9.417px);
  line-height: calc(0.224vw + 18.278px);
  font-weight: 400;
  margin-top: calc(0.336vw + 39.417px);
}

.sidebar {
  margin-left: calc(9.753vw + -41.906px);
}

.container_news {
  display: flex;
  margin-top: calc(-1.121vw + 36.610px);
}

.container_news img {
  width: calc(0.448vw + 64.556px);
  height: calc(0.448vw + 64.556px);
}

.box_news {
  margin-left: 18px;
}

.box_news h3, .box_news h4{
  text-transform: uppercase;
}

.section_search {
 margin-top: calc(0.561vw + 55.695px);
}

.div_search {
  display: flex;
  width: 100%;
}

.label_search {
  display: block;
  flex-grow: 1;
}

.span_search {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
}

.input_search {
  width: 100%;
  height: 48px;
  padding: 0 18px 0;
  background-color: #f4f7f6;
  border: none;
}

.button_search {
  display: block;
  border: none;
  width: 48px;
  height: 48px;
  background-color: #b59f5b;
  background-image: url(../svg/search.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center center;
}

.section_rassilka {
  margin-top: calc(-0.561vw + 64.305px);
}

.input_rassilka {
  width: 100%;
  height: 48px;
  padding: 0 18px 0 18px;
  background-color: #f4f7f6;
  border: none;
}

.span_rassilka {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
}

.button_rassilka {
  margin-top: 16px;
  display: block;
  border: none;
  height: 48px;
  width: 100%;
  background-color: #b59f5b;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}

.section_tegi {
 margin-top: calc(-0.561vw + 64.305px);
}

.section_tegi_list{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none
}

.section_tegi_item{
  height: calc(0.561vw + 20.695px);
  font-size: calc(0.448vw + 4.556px);
  border: 3px solid #eeeeee;
  padding-left: 14px;
  padding-right: 14px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.div_tegi {
  display: flex;
  flex-wrap: wrap;
}

.section_temi {
  font-family: "Open Sans";
  margin-top: calc(-0.561vw + 64.305px);
}

.ul_temi {
  list-style-type: none;
}

.li_temi {
  display: flex;
  padding-bottom: 14px;
  flex-wrap: wrap;
}

.li_temi::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  background-color: #eee;
}

.div_name {
  font-size: calc(0.448vw + 4.556px);
  font-weight: 700;
  color: #000000;
}

.div_number {
  margin-left: 5px;
  font-size: calc(0.448vw + 4.556px);
  font-weight: 700;
  color: #b59f5b;
}

.aside_shop {
  margin: 64px auto 0;
  max-width: 1200px;
  padding-left: calc(1.68161434977578vw + -12.914798206278px);
  padding-right: calc(1.68161434977578vw + -12.914798206278px);
}

.shop_container {
  display: flex;
  justify-content: space-between;
}

.shop_product {
 max-width: 347px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.product_img {
  display: block;
  margin: -33px auto 0;
  position: relative;
  z-index: -1;
  top: 33px;
}

.product_content_container {
  margin: 0 auto;
  border: 4px solid #d3c59d;
  width: calc(1.79372197309417vw + 316.224215246637px);
  height: 260px;
}

.product_content {
  width: calc(1.12107623318386vw + 281.390134529148px);
  margin: 0 auto;
}

.product_title {
  margin-top: 51px;
}

.product_p {
  font-family: "Open Sans";
  font-size: calc(0.336vw + 9.417px);
  line-height: calc(0.224vw + 18.278px);
}

.product_p a {
  color: #b59f5b;
}

.product_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px auto 0;
  font-family: "Open Sans";
}

.product_price {
  font-size: calc(0.784753363228699vw + 7.97309417040359px);
  font-weight: 700;
  color: #222;
  line-height: 1;
  display: flex;
}

.product_price_old {
  text-decoration: line-through;
  font-size: calc(0.560538116591928vw + 4.69506726457399px);
  margin-bottom: -2px;
}

.product_rub {
  margin-left: 6px;
  margin-top: -2px;
 font-family: "rouble";

}

.product_button {
  border: none;
  background-color: #b59f5b;
  padding: 15px 29px;
  cursor: pointer;
  text-transform: uppercase;
 
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.footer{
  max-width: 1200px;
  padding: 0 15px 40px;
  margin: 64px auto 0;
 }

.ul_footer {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 35px 0;
  background-color: #f4f7f6;
}

.li_footer a {
  display: block;
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center center;
}

.li_footer:nth-child(n + 2) {
  margin-left: 24px;
}

.span_footer {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
}

.a_footer_twitter {
  background-image: url("../svg/004-twitter.svg");
}

.a_footer_pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.a_footer_facebook {
  background-image: url("../svg/002-facebook-logo.svg");
}

.a_footer_instagram {
  background-image: url("../svg/005-instagram.svg");
}

.a_footer_tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.copiright {
  margin-top: 62px;
  text-align: center;
}

.copiright a {
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  color: #999999;
}

@media (min-width: 1200px) {

.aside_trend_container:nth-child(n + 2) {
  margin-left: 3px;
}
}

@media (max-width: 1200px){

.nav_burger{
  display: block;
}

.nav_list{
  display: none;
}

.container {
   margin: 0 35px;
}
.aside_shop {
   justify-content: center;
  margin: 64px 35px 0;
  padding-left: 0;
  padding-right: 0;
}

.shop_container{
 
  flex-wrap: wrap;
/*margin: 0 auto;
  max-width: 698px;*/
}
}
  
@media (max-width: 1057px){

.shop_product:nth-child(3) {
  margin-top:28px;
}
}

@media (max-width: 710px){

.shop_product {
  margin:auto;
}

.shop_product:nth-child(2) {

  margin-top:28px;
}

}

@media (min-width: 641px) and (max-width: 1200px){

header h1{
  
  max-width: 641px;
  font-size: 40px;
}
}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: portrait){

.aside_trend_containers{
  flex-wrap: wrap;
}

.aside_trend_container{
  max-width: calc(50% - 3px);

}

.aside_trend_container:nth-child(2n) {
   margin-left: 3px;
}

.aside_trend_container:nth-child(n + 2) {
  margin-left: 0;
}

.aside_trend_container:nth-child(n + 3) {
  margin-top: 3px;
}
}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape){

.aside_trend_containers{
  flex-wrap: wrap;
}

.aside_trend_container{
  max-width: calc(25% - 3px);

}

.aside_trend_container:nth-child(2n) {
   margin-left: 3px;
   margin-right: auto;
}

.aside_trend_container:nth-child(3n) {
   margin-left: auto;
   
}
}

@media (max-width: 1023px){

header{
  background-image: url(../img/banner-bg-tablet.jpg);
}

.article{
  flex-wrap: wrap;

}

.article_content {
  max-width: 390px;  
  margin-left: 0;
  margin-top: 17px;
}
.time_avtor {
  margin-top: 38px;
}

.sidebar{
  max-width: 272px;
}
}

@media (max-width: 1023px) and (orientation: landscape){

.aside_trend_containers{
  flex-wrap: wrap;
}

.aside_trend_container{
  max-width: calc(50% - 3px);
}

.article{
  display: block;
}

.aside_trend_container:nth-child(2n) {
   margin-left: 3px;
}

.aside_trend_container:nth-child(n + 3) {
  margin-top: 3px;
}
}

@media (max-width: 640px){

header{
  background-image: url(../img/banner-mobile.jpg);
  padding-top: 32px;
}

.container {
    margin: 0 15px;
        padding-left: 0;
    padding-right: 0;
}

.sidebar {
    max-width: 360px;
}

header h1{
  max-width: 272px;
  font-size: 25px;
  margin-top: 45px;
}

.nav_burger{
  margin-right: 35px;
}


.logo {
margin: 185px auto 0;
}

.nav{
  max-width: 640px;
  margin-left: auto;
  margin-right: 0;
}

.logo_nav{
  flex-flow: column-reverse;
  padding-left: 0px;
}

.logo img {
  max-width: 268px;
  min-width: 268px;
}

.container{
  display: block;
  max-width: 330px;
}

.article img {
  width: 100%;
  height: 253px;
}

.sidebar {
  margin: 0 auto;
}

.article:nth-child(n + 2) {
  margin-top: 62px;
}

.time {
font-size: 8px;
}

.avtor {
  font-size: 8px;
}

.article p {
  font-size: 10px;
  line-height: 20px;
  margin-top: 22px;
}

.section_news{ 
margin-top: 70px;
}

.container_news {
  margin-top: 28px;
}

.container_news img {
  width: 70px;
  height: 70px;
}

.section_search {
 margin-top: 60px;
}

.section_rassilka, .section_tegi, .section_temi {
  margin-top: 45px;
}

.section_tegi_item{
  height: 24px;
  font-size: 9px;
}

.div_name, .div_number {
  font-size: 8px;
}
 
.shop_container {
    flex-wrap: wrap;
    max-width: 100%;
    margin: auto;
}

.shop_product {
  width: 100%;
}

.product_content_container{
  width: 100%;
}

.aside_shop {
  margin: auto 15px;
 
}

 .product_content{
max-width: 280px;

}
}

@media (max-width: 640px) and (orientation: portrait){

.aside_trend_containers{
  flex-wrap: wrap;
}

.aside_trend_containers .aside_trend_container{
  max-width: 100%;
}
.aside_trend_container:nth-child(n + 2) {
  margin-left: 0;
  margin-top: 3px;
}
}

@media (max-width: 768px){

.div_content_trend {
  padding-left: calc(2.451vw + 13.176px);
}

.title_h2 {
  font-size: calc(0.490vw + 10.235px);
  margin-bottom: calc(0.490vw + 10.235px);
}

.title_h3 {

  font-size: calc(0.490vw + 10.235px);
  margin-bottom: calc(0.490vw + 10.235px);
}

.title_h2:after {
  margin-top: font-size: calc(0.490vw + 10.235px);
}

.title_h3:after {
margin-top: font-size: calc(0.490vw + 10.235px);
}

.aside_trend{
  margin: calc(-1.471vw + 30.294px) auto 0;
}

.div_content_trend{
  right: calc(0.980vw + 11.471px);
  left: calc(0.980vw + 11.471px); 
}

.div_content_trend p {
  line-height: calc(0.490vw + 18.235px);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: calc(0.980vw + 26.471px);
  margin-right: calc(2.451vw + 13.176px);
}
}

@media (max-width: 360px){
.product_content_container {
    max-width: 290px;
}
}