* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-family: "Open Sans";
  text-decoration: none;
  color: #000;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "rouble";
  src: url(../fonts/rouble.otf) format("opentype");
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}


.tegi {
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  text-align: left;
  margin-top: 2.05vw;
  margin-bottom: 0.42vw;
  margin-left: calc(0.336vw + 29.417px);
}

.tegi_list {
  display: flex;
  width: auto;
  flex-wrap: wrap;
}

.tegi_list_item {
  list-style-type: none;
  margin-right: 1.08vw;
}

.tegi_list a {
  font-family: "Open Sans";
  text-decoration: none;
  color: #b59f5b;
}

.title_h2 {
  text-align: center;
  font-size: calc(0.224vw + 10.278px);
  text-transform: uppercase;
  margin-bottom: calc(1.457vw + 2.807px);
}

.title_h3 {
  text-align: center;
  font-size: calc(0.224vw + 10.278px);
  text-transform: uppercase;
  margin-bottom: calc(1.457vw + 2.807px);
}

.title_h2:after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  background-color: #b59f5b
}

.title_h3:after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  background-color: #b59f5b
}


.aside_trend{
  max-width: 100%;
  margin: calc(1.345vw + 35.668px) auto 0;
}

.aside_trend_containers{
 
  display: flex;
  margin: 0 auto;

}


.aside_trend_container{
  
  position: relative;
margin: 0 auto;
  

}



.div_trend{
  
  display: flex;
  align-items: flex-end;

  
   position: absolute;
  z-index: 1;
  /*display: flex;
  align-items: flex-end;*/

}

.img_trend{
  display: block;
  max-width: 100%;
  max-height: 100%;



}

.div_fon_trend {
  position: absolute;
  opacity: 0.6;
  background: #000;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.div_contents_trend{

 width: 100%;
  color: #fff;
 

}

.div_content_trend{
  border: 3px solid #b59f5b;
  
  position: absolute;
    top: auto;
  right: calc(0.224vw + 18.278px);
  bottom: calc(0.112vw + 14.139px);
  left: calc(0.224vw + 18.278px);

  
}


.div_content_trend p {
  font-family: "Open Sans";
  font-size: calc(0.224vw + 10.278px);
  line-height: calc(0.224vw + 20.278px);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: calc(0.336vw + 27.417px);
  margin-left: calc(0.336vw + 29.417px);
  margin-right: calc(0.336vw + 29.417px);
}




@media (max-width: 640px){

.header {
  
height: 639px;
  border: 1px solid #000;
  background-image: url(../img/banner-mobile.jpg);
  background-size: cover;
}

}



@media (min-width: 1200px) {

.aside_trend_container:nth-child(n + 2) {
  margin-left: 3px;
}
}






@media (min-width: 641px) and (max-width: 1200px) and (orientation: portrait){


.aside_trend_containers{
  flex-wrap: wrap;
}

.aside_trend_container{
  max-width: calc(50% - 3px);

}

.aside_trend_container:nth-child(2n) {
   margin-left: 3px;
}

.aside_trend_container:nth-child(n + 2) {
  margin-left: 0;
}

.aside_trend_container:nth-child(n + 3) {
  margin-top: 3px;
}

}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape){


.aside_trend_containers{
  flex-wrap: wrap;
}

.aside_trend_container{
  max-width: calc(25% - 3px);

}

.aside_trend_container:nth-child(2n) {
   margin-left: 3px;
   margin-right: auto;
}

.aside_trend_container:nth-child(3n) {
   margin-left: auto;
   
}

}


@media (max-width: 1023px) and (orientation: landscape){

.aside_trend_containers{
  flex-wrap: wrap;
}

.aside_trend_container{
 
  max-width: calc(50% - 3px);

}

.aside_trend_container:nth-child(2n) {
   margin-left: 3px;
}

.aside_trend_container:nth-child(n + 3) {
  margin-top: 3px;
}

}


@media (max-width: 640px) and (orientation: portrait){

.aside_trend_containers{
  flex-wrap: wrap;
}

.aside_trend_containers .aside_trend_container{
 
  max-width: 100%;

}


.aside_trend_container:nth-child(n + 2) {
  margin-left: 0;
  margin-top: 3px;
}

}

@media (max-width: 768px){
.tegi {
  margin-left: calc(2.451vw + 13.176px);
}

.title_h2 {
  font-size: calc(0.490vw + 10.235px);
  margin-bottom: calc(0.490vw + 10.235px);
}

.title_h3 {

  font-size: calc(0.490vw + 10.235px);
  margin-bottom: calc(0.490vw + 10.235px);
}

.title_h2:after {
  margin-top: font-size: calc(0.490vw + 10.235px);
}

.title_h3:after {
margin-top: font-size: calc(0.490vw + 10.235px);
}

.aside_trend{
  margin: calc(-1.471vw + 30.294px) auto 0;
}

.div_content_trend{
  right: calc(0.980vw + 11.471px);
  left: calc(0.980vw + 11.471px); 
}


.div_content_trend p {
  line-height: calc(0.490vw + 18.235px);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: calc(0.980vw + 26.471px);
  margin-left: calc(2.451vw + 13.176px);
  margin-right: calc(2.451vw + 13.176px);
}

}






























.article:nth-child(n + 2) {
  margin-top: 62px;
}


.time {
  font-family: "Open Sans";
  font-size: calc(0.336vw + 6.417px);
  font-weight: 400;
  color: #888888;
}

.avtor {
  font-family: "Open Sans";
  font-size: calc(0.336vw + 6.417px);;
  font-weight: 600;
  color: #000;
  margin-left: 13px;
}

.article p {
  font-family: "Open Sans";
  font-size: calc(0.336vw + 9.417px);
  line-height: calc(0.224vw + 18.278px);
  font-weight: 400;
  margin-top: calc(0.336vw + 39.417px);
}

.sidebar {
  margin-left: calc(9.753vw + -41.906px);
}

.container_news {
  display: flex;
  margin-top: calc(-1.121vw + 36.610px);
}

.container_news img {
  width: calc(0.448vw + 64.556px);
  height: calc(0.448vw + 64.556px);
}

.box_news {
  margin-left: 18px;
}

.box_news h3, .box_news h4{
  text-transform: uppercase;
}

.section_search {
 margin-top: calc(0.561vw + 55.695px);
}

.div_search {
  display: flex;
  width: 100%;
}

.label_search {
  display: block;
  flex-grow: 1;
}

.span_search {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
}

.input_search {
  width: 100%;
  height: 48px;
  padding: 0 18px 0;
  background-color: #f4f7f6;
  border: none;
}

.button_search {
  display: block;
  border: none;
  width: 48px;
  height: 48px;
  background-color: #b59f5b;
  background-image: url(../svg/search.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center center;
}

.section_rassilka {
  margin-top: calc(-0.561vw + 64.305px);
}

.input_rassilka {
  width: 100%;
  height: 48px;
  padding: 0 18px 0 18px;
  background-color: #f4f7f6;
  border: none;
}

.span_rassilka {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
}

.button_rassilka {
  margin-top: 16px;
  display: block;
  border: none;
  height: 48px;
  width: 100%;
  background-color: #b59f5b;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}

.section_tegi {
 margin-top: calc(-0.561vw + 64.305px);
}

.section_tegi_list{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none
}

.section_tegi_item{
  height: calc(0.561vw + 20.695px);
  font-size: calc(0.448vw + 4.556px);
  border: 3px solid #eeeeee;
  padding-left: 14px;
  padding-right: 14px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.div_tegi {
  display: flex;
  flex-wrap: wrap;
}


.section_temi {
  font-family: "Open Sans";
  margin-top: calc(-0.561vw + 64.305px);
}

.ul_temi {
  list-style-type: none;
}

.li_temi {
  display: flex;
  padding-bottom: 14px;
  flex-wrap: wrap;
}

.li_temi::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  background-color: #eee;
}

.div_name {
  font-size: calc(0.448vw + 4.556px);
  font-weight: 700;
  color: #000000;
}

.div_number {
  margin-left: 5px;
  font-size: calc(0.448vw + 4.556px);
  font-weight: 700;
  color: #b59f5b;
}





